BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 104
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterFunction: false
  AfterControlStatement: Never
  AfterStruct: false
  AfterClass: false
  AfterEnum: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlignAfterOpenBracket: false
AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDefinitionName: true
  AfterFunctionDeclarationName: false
  AfterControlStatements: true
  AfterIfMacros: true
  AfterOverloadedOperator: true
  AfterForeachMacros: true
SpaceAfterCStyleCast: true
IndentCaseLabels: true
BreakBeforeTernaryOperators: false
PointerAlignment: Right
ReferenceAlignment: Right
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
Cpp11BracedListStyle: false
BreakBeforeBinaryOperators: NonAssignment
UseTab: Never
